.footer {
    background-image: var(--footer-bg-image);
    background-color: var(--background-primary);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 3rem 0;
    transition: background-color 0.3s, border-color 0.3s;
}

.footerContent {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.footerSectionTop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2.5rem;
}

.footerBrandArea {
    flex: 1;
    min-width: 15rem;
    margin-right: 2rem;
}

.footerLogoImage {
    height: 3.188rem;
    margin-bottom: 1rem;
}

.footerSlogan {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-secondary);
}

.footerLinksColumn {
    flex: 1;
    min-width: 10rem;
}

.footerColumnTitle {
    font-size: 0.813rem;
    font-weight: 400;
    margin: 0 0 1.75rem;
    color: var(--text-primary);
}

.footerLinkList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerLink {
    color: var(--text-secondary);
    text-decoration: none;
    line-height: 1.5;
    font-size: 0.938rem;
    display: block;
    margin: 0 0 1.75rem;
    transition: color 0.2s ease;
}
.footerLink:hover {
    color: var(--accent-primary);
}

.footerDivider {
    border: 0;
    border-top: 1px solid var(--border-color-light);
    margin: 3rem 0;
}

.footerSectionBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 0.875rem;
}

.footerBrandSection {
    margin: 0;
    color: var(--text-secondary);
}

.footerBrandName {
    color: var(--accent-primary);
    font-weight: 500;
}

.footerSocials {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.footerSocialIcon {
    height: 2.5rem;
    transition: opacity 0.2s ease;
}
.footerSocialIcon:hover {
    opacity: 0.8;
}
